//color
$white: rgb(255, 255, 255);
$off-white: rgba(232, 232, 232, 1);
$light-gray: rgba(153, 153, 153, 1);
$blue: rgba(84, 116, 253, 1);
$gray: rgba(51, 51, 51, 1);
$dark-gray: rgba(35, 35, 35, 0.9);

//font
$josefin: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;